/* UserCard.css */



.user-card {
    display: flex;
    /* position: relative; */
    margin: 10px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
    cursor: pointer;
    align-items: center;
    text-align: left;
    gap: 40px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    
  }
  
  .user-card:hover {
    background-color: #d0d0d0;
  }
  
  .selected {
    z-index: 2;
    background-color: white;
    margin: 20px;
  }
  
  .user-card img {
    /* max-width: 100%; */
    border-radius: 50%;
  }
  
  .user-card p {
    margin: 5px 0;
  }
  